.rewiews {
  padding-bottom: 40px;
}

.rewiews__title {
  font-size: 25px;
  line-height: 30px;
  color:#000000;
  padding-top:30px;
  padding-bottom:25px;
}

.rewiews__text{
  font-size: 15px;
  line-height: 30px;
  text-align: justify;
}

.rewiews__name {
  font-size:17px;
  line-height:24px;
  font-weight: bold; 
}
.rewiews__social{
  font-size:17px;
  line-height:24px;
}

.rewiews__padding {
  margin-top:38px;
}

  
.rewiew__flex-wrap {
  display:flex;
  justify-content: space-between;
}

.rewiews__prev, .rewiews__next {
  display:block;
  border: 1px solid #ebebeb;
  height:50px;
  width:50%;
  text-indent: -2000px;
}

.rewiews__prev{
  background: url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
}

.rewiews__next {
  background: url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
}
