.contacts__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 25px;
}

.contacts__name {
  padding-right: 30px;
  line-height: 30px;
  vertical-align: top;
}

.contacts__email {
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  display: block;
  min-height: 457px;
  margin: 0 auto;
}

.contacts__margin {
  margin-top: 28px;
}
