.user {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user__item {
  height: 78px;
  border-bottom: 1px solid #ebebeb;
}

.user__link {
  text-decoration: none;
  text-alight: left;
  flex-grow: 1;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 78px;
  padding-left: 25px;
}

.user__icon {
  
}

