.how-do {
  padding-left: 30px;
  padding-right: 30px;
}

.how-do__wrapper-main {
  border: 1px solid #ececec;
  margin-top: 35px;
  padding-bottom: 32px;
  margin-bottom: 57px;
}

.how-do__video-content {
  position: relative;
}

.how-do__start {
  position: absolute;
  top: 35px;
  left: 72px;
  background: 0 0;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 76px;
}

.how-do__start:hover {
  transform: scale(1.2, 1.2);
}

.how-do__start:active {
  transform: scale(0.8, 0.8);
}

.how-do__image {
  display: block;
  margin: 0 auto;
}

.how-do__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 55px;
  padding-right: 27px;
  color: #000000;
}

.how-do__wrapper-text {
  padding-left: 32px;
  padding-right: 40px;
  padding-top: 21px;
  padding-bottom: 28px;
}

.how-do__text {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.how-do__wrapper-btn,
.how-do__wrapper-title {
  padding-left: 35px;
  padding-right: 35px;
}

.how-do__wrapper-title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 25px;
}

.how-do__icon {
  position: absolute;
  width: 42px;
  height: 32px;
  top: 30px;
  left: 28px;
  fill: #63d1bb;
}

@media (min-width: @tablet-width) {
  .how-do {
    padding-left: 50px;
    padding-right: 50px;
  }

  .how-do__wrapper-main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 62px;
  }

  .how-do__video {
    width: 668px;
    height: 455px;
  }

  .how-do__video-content {
    order: -3;
  }

  .how-do__start {
    width: 115px;
    top: 192px;
    left: 275px;
    z-index: 1;
  }

  .how-do__wrapper-title {
    padding-top: 36px;
    padding-left: 50px;
    order: -1;
  }

  .how-do__title {
    font-size: 20px;
    line-height: 24px;
  }

  .how-do__icon {
    top: 32px;
    left: 35px;
  }

  .how-do__picture {
    order: -2;
  }

  .how-do__wrapper-text {
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 32px;
  }

  .how-do__text {
    font-size: 15px;
    line-height: 30px;
  }

  .how-do__wrapper-btn {
    padding-top: 6px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .how-do {
    padding-left: 50px;
    padding-right: 50px;
  }

  .how-do__wrapper-main {
    position: relative;
    align-items: flex-end;
    margin-top: 56px;
    padding-bottom: 52px;
    margin-bottom: 102px;
  }

  .how-do__video-content {
    position: absolute;
    width: 685px;
    top: 0;
    left: 0;
  }

  .how-do__video {
    width: 680px;
  }

  .how-do__start {
    width: 120px;
    top: 185px;
    left: 280px;
  }

  .how-do__wrapper-btn,
  .how-do__wrapper-title,
  .how-do__wrapper-text {
    width: 260px;
  }

  .how-do__wrapper-text {
    padding-bottom: 32px;
  }

  .how-do__text {
    padding-left: 10px;
  }

  .how-do__icon {
    top: 42px;
    left: 52px;
  }

  .how-do__title {
    padding-left: 5px;
    padding-top: 60px;
  }

  .how-do__wrapper-btn {
    padding-top: 17px;
    width: 230px;
    padding-right: 56px;
    padding-bottom: 12px;
  }
}
