.how-do {
  border: 1px solid #ececec;
  margin-top: 30px;
}

.how-do__image {
  display: block;
  margin: 0 auto;
}

.how-do__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 27px;
  padding-right: 27px;
  color: #000000;
}

.how-do__text {
  font-size: 13px;
  line-height: 30px;
  margin-left: 27px;
  margin-right: 27px;
  border-bottom: 1px solid #ececec;
}

.how-do__wrapper-btn,
.how-do__wrapper-title {
  padding-left: 35px;
  padding-right: 35px;
}

@media (min-width: @tablet-width) {
  .how-do {
    display: flex;
    flex-direction: column;
  }

  .how-do__video {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .how-do {
    position: relative;
    align-items: flex-end;
  }

  .how-do__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .how-do__wrapper-btn,
  .how-do__wrapper-title,
  .how-do__text {
    width: 350px;
  }
}
