.page-footer {
  background-color: #f1f1f1;
  margin-top: 40px;
}

.page-footer__social-blog {
  margin: 0 auto;
  padding-bottom: 23px;
  padding-top: 30px;
}

.page-footer__logo {
  width: 264px;
  display: none;
}

.page-footer__copyright {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 39px;
}

.copyright__image {
  position: absolute;
  top: 22px;
  right: 38px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 55px;
    height: 150px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .page-footer__social-blog,
  .page-footer__copyright {
    margin: 0;
  }

  .page-footer__copyright {
    flex-grow: 1;
    padding-left: 75px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer{
    margin-top: 93px;
  }

  .page-footer__logo {
    width: 451px;
  }

  .page-footer__copyright {
    text-align: right;
    padding-right: 57px;
  }

  .page-footer__wrap {
    height: 148px;
  }
}
