.social {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 58px;
  padding-right: 58px;
}

.social__item {
  list-style: none;
}

.social__link-inst,
.social__link-fb,
.social__link-tw {
  display: block;
  width: 28px;
  height: 28px;
}

.social__item:hover svg {
  fill: #46c1ae;
}

.social__item:active svg {
  fill: #46c1ae;
  opacity: 0.3;
}


.social__link-fb svg {
  width: 15px;
  heigth: 28px;
}

.social__link-inst svg {
  width: 22px;
  heigth: 22px;
}

.social__link-tw svg {
  width: 23px;
  heigth: 20px;
}

@media (min-width: @tablet-width) {
  .social {
    border-bottom: 0;
    width: 145px;
    padding: 0;
  }
}
