.main-nav {
  width: 320px;
}

.main-nav__logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 79px;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
}

.main-nav__logo-link {
  flex-grow: 1;
}

.main-nav__logo-image {
  display: block;
  width: 86px;
  margin: 0 auto;
}

.main-nav__free-shipping {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__close {
    display: none;
  }
  
  .main-nav {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-nav__logo {
    width: 320px;
    height: 88px;
    padding: 0;
    order: -5;
    padding-left: 50px;
  }
  
  .main-nav__logo-link {
    padding-top: 26px;
    padding-bottom: 27px;
  }
  
  .main-nav__logo-image {
    margin: 0;
  }
  
  .main-nav__free-shipping {
    display: block;
    text-align: right;
    align-self: flex-end;
    color: #444444;
    flex-grow: 1;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    position: relative;
    width: 1150px;
  }
  
  .main-nav__logo {
    order: -4;
    padding-left:0;
    width: 310px;
  }
  
  .main-nav__logo-image {
    margin: 0 auto;
  }
}
