.product {
  background-color: #f9f9f9;
}

.product__wrapper {
  width: 320px;
  margin: 0 auto;
}

.product__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.product__section {
  position: relative;
  list-style: none;
  padding-left: 15px;
  height: 103px;
  background-color: #55c3b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__section:first-child {
  background-color: #63d1bb;
}

.product__section:hover {
  height: 108px;
  margin-top: -5px;
}

.product__link {
  text-decoration: none;
  line-height: 24px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  padding-left: 15px;
  padding-right: 140px;
  padding-top: 24px;
  padding-bottom: 30px;
  text-align: left;
}

.product__icon {
  padding-right: 30px;
}

.product__icon--interior {
  position: absolute;
  width: 40px;
  height: 62px;
  fill: #149080;
  opacity: 0.5;
  right: 5px;
  top: 22px;
}

.product__icon--toy {
  position: absolute;
  width: 60px;
  height: 60px;
  fill: #149080;
  opacity: 0.5;
  top: 21px;
  right: 0;
}

@media (min-width: @tablet-width) {
  .product::after {
    display: block;
    content: "";
    position: relative;
    height: 23.5px;
    background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
    background-size: contain;
    z-index: 1;
    padding: 0;
    margin-top: -10px;
  }

  .product__wrapper {
    width: 768px;
  }

  .product__list {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }

  .product__section {
    width: 100%;
    padding-left: 0;
    height: 120px;
  }

  .product__section:nth-child(2) .product__link {
    padding-left: 25px;
  }

  .product__section:hover {
    height: 125px;
  }

  .product__link {
    text-align: center;
    width: 105px;
    padding-left: 32px;
    padding-right: 90px;
    line-height: 30px;
  }

  .product__icon--interior {
    top: 30px;
  }

  .product__icon--toy {
    top: 30px;
    right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .product::after {
    height: 34px;
    margin-top: -14px;
  }

  .product__wrapper {
    width: 1150px;
  }

  .product__link {
    padding-right: 270px;
  }
}
