.product__list{
  margin: 0;
  padding: 0;
}

.product__section {
  position:relative;
  list-style:none;
  padding-left: 30px;
  height: 103px;
  background-color:#55c3b2;
}

.product__section:first-child {
  background-color: #63d1bb;
}

.product__link {
  text-decoration: none;
  line-height:24px;
  font-size: 19px;
  color:#ffffff;
  display: inline-block;
  width:105px;
  vertical-align: middle;
}
