.order__title {
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top:55px;
  padding-bottom: 55px;
  vertical-align: middle;
  color:#000000;
}

.order-description {
  font-size: 13px;
  line-height: 24px;
}
