.catalog-item {
  border: 1px solid #ececec;
  margin-top: 30px;
}

.catalog-item__image {
  display: block;
  margin: 0 auto;
}

.catalog-item__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 27px;
  padding-right: 27px;
  color: #000000;
}

.catalog-item__description {
  font-size: 13px;
  line-height: 30px;
  margin-left: 27px;
  margin-right: 27px;
  border-bottom: 1px solid #ececec;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 27px;
  padding-right: 27px;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    display: flex;
    min-height: 335px;
  }

  .catalog-item__image {
    width: 50%;
  }

  .catalog-item__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .catalog-item__description{
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    flex-direction: column;
  }

  .catalog-item__wrapper {
    width: auto;
  }
}
