.header-catalog__title{
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top:55px;
  padding-bottom: 55px;
  vertical-align: middle;
  color:#000000;
}

.form-order__title {
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase ;
  color: #63d1bb;
}

.form-order__wrapper {
  display: flex;
  flex-direction: column;
}

  
