.header-image {
  min-height: 208px;
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -20px;
}

.header-image__padding {
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  text-align:center;
}

.header-image__title {
  font-size: 27px;
  font-weight: bold;
  color:#000000;
  line-height: 30px;
}
