.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  border-bottom: 1px solid #ebebeb;
}

.site-list__link {
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 78px;
  padding-left: 45px;
  vertical-align: middle;
  text-align: center;
  height: 78px;
}

.site-list__link:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-list__logo-image {
  flex-grow: 1;
  vertical-align: middle;
  text-align: center;
}

.site-list__close {
  width: 21px;
  height: 20px;
  margin-right: 35px;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 320px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .site-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    width: 50%;
  }
  
  .site-list__item:first-child {
    width: 320px;
    height: 88px;
  }
  
  .site-list__close {
    display: none;
  }

  .site-list__link {
    justify-content: space-between;
    padding-left: 0px;
    font-size: 15px;
    line-height: 24px;
    height: 38px;
    text-align:center;
  }
}

