.site-list {
  list-style:none;
  margin:0;
  padding:0;
}

.site-list__link {
  text-decoration:none;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height:78px;
  display:inline-block;
  padding-left: 75px;
}

.site-list__item:first-child .site-list__link {
  padding-left:0;
}


.site-list__item{
  position: relative;
  height: 79px;
  border-bottom: 1px solid #ebebeb;
}

.site-list__icon{
  position:absolute;
  top: 30px;
  left:30px;
}

.site-list__logo-image{
  position:absolute;
  left: 50%;
  margin-left: -43px;
  top: 20px;
}

.site-list__close {
  position:absolute;
  right: 35px;
  top: 30px;
}
