.feature {
  width: 320px;
  margin: 0 auto;
}

.feature::after {
  display: block;
  content: "";
  position: relative;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg") repeat-x -20px 0;
  background-size: contain;
  z-index: 1;
  padding: 0;
  margin-top: 0;
}

.feature__wrapper {
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature__title {
  font-size: 25px;
  color: #000000;
  line-height: 33px;
  font-weight: bold;
  margin-top: 26px;
}

.feature__top-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
  text-transform: uppercase;
}


.feature__description {
  padding-top: 20px;
}

.feature__info {
  margin-top: 18px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.feature__info-name,
.feature__info-description {
  border-bottom: 1px solid #ececec;
  padding-top: 7px;
  padding-bottom: 8px;
}

.feature__info-name {
  padding-right: 5px;
}

.feature__info-description {
  padding-left: 23px;
  padding-right: 30px;
}

.feature__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.feature__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-top: 24px;
}

.feature__margin {
  margin-top: 29px;
  width: 298px;
}

@media (min-width: @tablet-width) {
  .feature {
    width: 768px;
  }

  .feature__wrapper {
    padding-bottom: 53px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .feature::after {
    display: block;
    content: "";
    position: relative;
    height: 17px;
    background: url("../img/bg-zigzag-line.svg") repeat-x -20px 0;
    background-size: contain;
    z-index: 1;
    padding: 0;
    margin-top: 0;
  }

  .feature__wrapper-info {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .feature__title {
    flex-grow: 1;
    text-align: left;
    font-size: 43px;
    line-height: 50px;
    margin-top: 31px;
  }

  .feature__top-week {
    font-size: 17px;
    line-height: 17px;
    width: 120px;
    text-align: center;
    padding-bottom: 5px;
  }

  .feature__description {
    font-size: 17px;
    line-height: 30px;
    padding-top: 50px;
  }

  .feature__info {
    font-size: 15px;
    line-height: 20px;
    margin-top: 38px;
    margin-bottom: 33px;
  }

  .feature__info-name {
    padding-bottom: 11px;
  }

  .feature__price {
    font-size: 20px;
  }

  .feature__wrapper-description {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    padding-right: 45px;
  }

  .feature__image {
    position: absolute;
    order: -4;
    left: 100%;
    top: 55px;
    align-self: flex-end;
    margin: 0;
  }

  .feature__margin {
    margin-top: 38px;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    width: 1150px;
  }

  .feature__wrapper {
    padding-bottom: 75px;
  }

  .feature::after {
    height: 20px;
  }

  .feature__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 40px;
  }

  .feature__info {
    margin-top: 50px;
  }

  .feature__info-name {
    padding-bottom: 12px;
  }

  .feature__top-week {
    order: -1;
    width: 100px;
    line-height: 17px;
    text-align: center;
    padding-left: 33px;
    padding-right: 37.5px;
    padding-bottom: 10px;
  }

  .feature__image {
    top: -110px;
    z-index: -10;
  }

  .feature__price {
    margin-top: 72px;
  }

  .feature__wrapper-description {
    padding-left: 175px;
    padding-right: 60px;
  }

  .feature__wrapper-info {
    padding-top: 64px;
  }
}
