.feature {
  padding-bottom: 40px;
}

.feature__title {
  text-align: center;
  font-size: 25px;
  color: #000000;
  line-height: 33px;
  font-weight: bold;
  margin-top: 26px;
}

.feature__top-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #63d1bb;
}


.feature__description {
  padding-top: 20px;
}

.feature__info {
  margin-top: 18px;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.feature__info-name,
.feature__info-description {
  border-bottom: 1px solid #ececec;
  padding-top: 7px;
  padding-bottom: 8px;
}

.feature__info-name {
  padding-right: 5px;
}

.feature__info-description {
  padding-left: 10px;
  padding-right: 30px;
}

.feature__image {
  display: block;
  margin: 0 auto;
}

.feature__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin-top: 22px;
}

.feature__margin {
  margin-top: 28px;
  width: 298px;
}

@media (min-width: @tablet-width) {
  .feature__wrapper-info {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  
  .feature__title {
    flex-grow: 1;
    text-align: left;
    font-size: 43px;
    line-height: 50px;
  }
  
  .feature__top-week {
    font-size: 17px;
    line-height: 17px;
  }
  
  .feature__description {
    font-size: 17px;
    line-height: 30px;
  }
  
  .feature__info {
    font-size: 15px;
    line-height: 20px;
  }
  
  .feature__price {
    font-size: 20px;
  }
  
  .feature__top-week {
    width: 100px;
    line-height: 17px;
    text-align: center;
    
  }
  
  .feature__wrapper-decription {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    padding-right: 45px;
  }
  
  .feature__image {
    position: absolute;
    order: -4;
    left: 100%;
    align-self: flex-end;
    margin: 0;
  }
  
}

@media (min-width: @desktop-width) {
  .feature__title {
    font-size: 53px;
    line-height: 57px;
  }
  
  .feature__top-week {
    order: -1;
    width: 100px;
    line-height: 17px;
    text-align: center;
    padding-left: 37.5px;
    padding-right: 37.5px;  
  }
  
  .feature__image {
    top: -70px;
    z-index: -10;
  }
  
  .feature__wrapper-decription {
    padding-left: 175px;
  }
}

