.about-us__wrapper {
  padding-bottom: 29px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  padding-top: 30px;
}

.about-us__advantages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  height: 123px;
}

.about-us__description {
  padding-top: 17px;
}

.about-us__block-center {
  width: 47px;
  text-align: center;
  flex-grow: 1;
  position: relative;
}

.about-us__image {
  fill: #63d1bb;
}

.about-us__image--flower {
  width: 32px;
  height: 37px;
  position: absolute;
  top: 32px;
  left: 8px;
}

.about-us__image--money {
  width: 47px;
  height: 27px;
  position: absolute;
  top: 34px;
  left: 0;
}

.about-us__image--heart {
  width: 33px;
  height: 28px;
  position: absolute;
  top: 40px;
  left: 7px;
}

.about-us__image--boll {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 37px;
  left: 3px;
}

.about-us__image--rocket {
  width: 54px;
  height: 23px;
  position: absolute;
  top: 38px;
  left: -6px;
}

.about-us__image--gift {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 36px;
  left: 3px;
}

@media (min-width: @tablet-width) {
  .about-us__wrapper {
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 47px;
  }

  .about-us__description {
    font-size: 20px;
    line-height: 23px;
  }

  .about-us__advantages {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
  }

  .about-us__image--flower {
    top: 55px;
  }

  .about-us__image--money {
    top: 57px;
  }

  .about-us__image--heart {
    top: 60px;
  }

  .about-us__image--rocket {
    top: 60px;
  }

  .about-us__image--boll {
    top: 60px;
  }

  .about-us__image--gift {
    top: 60px;
  }

  .about-us__advantages-item {
    width: 50%;
    margin-top: 0;
    height: 156px;
  }

  .about-us__advantages-item--flower {
    order: -6;
  }

  .about-us__advantages-item--boll {
    order: -5;
  }

  .about-us__advantages-item--money {
    order: -4;
  }

  .about-us__advantages-item--heart {
    order: -2;
  }

  .about-us__advantages-item--rocket {
    order: -3;
  }

  .about-us__advantages-item--gift {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .about-us__wrapper {
    padding-left: 225px;
    padding-right: 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 61px;
  }

  .about-us__description {
    line-height: 22px;
  }
}
